html,
body {
  background-color: #111418;
  color: #ebebeb;
  font-family: "Poppins";
  margin: 0;
  overflow-x: hidden;
}

div {
}

h1 {
  margin: 0 0;
  font-weight: 700;
  font-size: 69px;
  line-height: 1.3;
}

h2 {
  font-weight: 700;
  font-size: 55px;
}

h3 {
  margin: 0 0;
  font-weight: 600;
  font-size: 44;
}

h4 {
  margin: 10 0px;
  font-weight: 700;
  font-size: 35;
}

h5 {
  margin: 0;
  font-weight: 600;
  font-size: 28;
}

h6 {
  margin: 0 0;
  font-size: 23;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.font1 {
  font-size: 20;
}

.font2 {
  margin: 0 0;
  font-size: 18;
}

.font3 {
  font-size: 14;
}

.font4 {
  font-size: 12;
}

.font5 {
  font-size: 11;
}

span {
}

p {
}

a {
  text-decoration: none !important;
  color: #ebebeb !important;
}

i {
  font-style: normal !important;
}

button {
  cursor: pointer;
}

.align-center {
  text-align: center;
  margin-bottom: 50px;
}

.align-right {
  text-align: right;
}

.arrow {
  font-family: "Font Awesome 5 Free";
  font-style: normal !important;
  font-weight: 900;
  font-size: 19;
  padding: 0 16px;
}

.small-arrow {
  font-size: 16;
  padding: 0 8px;
}

.tiny-arrow {
  font-size: 12;
  padding: 0 4px;
}

.banner {
  display: block;
  margin-left: auto;
  position: relative;
  bottom: 107px;
  left: 481px;
  z-index: 1;
}

.pattern {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.black {
  background-color: #111418;
}

.blue1 {
  background-color: #192531;
}

.blue2 {
  background-color: #21364a;
}

.blue3 {
  background-color: #294762;
}

.button1 {
  border-width: 0px;
  color: #ebebeb;
  background: #e65238;
  border-radius: 15px;
  border: 0;
}

.button-scta {
  width: 180px;
  height: 46px;
  color: #ebebeb;
  background: #e65238;
  border-radius: 18px;
  font-size: 18px;
  font-weight: 700;
  border: 0;
}

.b1 {
  width: 46%;
  height: 64px;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  border-radius: 20px;
}

.catch-phrase {
  position: absolute;
  z-index: 1;
  width: 50%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 3% 3%;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-col1 {
  width: 40%;
}

.footer-col2 {
  width: 30%;
}

.footer-col3 {
  width: 30%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-left {
  width: 45%;
}

.form-right {
  width: 55%;
}

.full-height {
  width: 100%;
}

.input {
  width: 90%;
  padding: 10px;
  margin: 20px auto;
  color: grey;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  border-radius: 12px;
  font-family: "Poppins" !important;
}

.input-large {
  height: 418px;
}

.input-submit {
  background-color: #e65238;
  color: #ebebeb;
  border-radius: 15px;
  border-width: 0;
}

.gradient {
  background: linear-gradient(
    90deg,
    #ff965a -11.54%,
    #d36d6d 31.24%,
    #05d2ff 121.74%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.square-orange {
  border-style: hidden;
  border-radius: 8px;
  height: 21px;
  width: 10%;
  background-color: #e65238;
}

.kachel {
  width: 26%;
  height: 300px;
  border-style: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.kachel-button {
  width: 50%;
  height: 30px;
  color: #21364a;
  background: #a8dadc;
  border-radius: 10px;
  border: 0;
  padding: 10px;
}

.kachel-col1 {
  width: 30%;
  margin-right: 5%;
}

.kachel-col2 {
  width: 65%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kachel-image {
  width: 170;
  height: 100;
  padding: 10px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
}

.kachel-top-margin {
  margin-top: 120px;
}

.kachel-top-margin2 {
  margin-top: 60px;
}

.kachel-top-neg-margin {
  margin-top: -30px;
}

.kachel-group {
  width: 28%;
}

.kachel-vert {
  width: 100%;
  border-style: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: #ebebeb;
  color: #21364a;
}

.kachel-vert-parent {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-light {
  width: 50px;
  height: 50px;
  background-color: #a8dadc;
  border-radius: 50%;
  position: relative;
  left: 15px;
  top: 15px;
}

.icon-dark {
  width: 50px;
  height: 50px;
  background-color: #294762;
  border-radius: 50%;
  position: relative;
  left: 15px;
  top: 15px;
}

.icon-top {
  left: -15px;
  top: 40px;
  width: 56px;
  height: 56px;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-svg {
  width: 80;
}

.logo-text {
  padding: 0 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 0 32px;
  position: relative;
  z-index: 2;
}

.nav-link {
  margin: 32px;
}

.navbar button {
  width: 180px;
  height: 46px;
  border: 0;
  color: #ebebeb;
  background: #e65238;
  margin: 0 25px;
}

.process-step {
  padding: 50px 0;
}

.project {
  width: 90%;
  border-radius: 40px;
  padding: 50px;
}

.project-left {
  width: 60%;
}

.project-right {
  width: 40%;
}

.benefit-heading {
  padding-left: 20px;
  padding-top: 15px;
}

.benefit-text {
  padding-left: 20px;
  padding-bottom: 10px;
}

.question {
  border-style: hidden;
  background-color: black;
  border-radius: 12px;
  padding: 10px 20px 15px;
  margin-bottom: 25px;
}

.section {
  max-width: 1130px;
  padding: 200px 0 100px 0;
  margin: auto;
}

.section2 {
  max-width: 1280px;
  padding: 200px 0 100px 0;
  margin: auto;
}

.section-flex {
  display: flex;
  flex-direction: row;
}

.secondary {
  color: #a8dadc;
}

.silver {
  background-color: silver;
}

.story-left {
  width: 40%;
  margin-right: 100px;
}

.story-right {
  width: 60%;
}

.team {
  width: 43%;
  margin: 0 0 50px 0;
  border-radius: 20px;
  padding: 25px;
}

.team-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-header {
  padding-left: 25px;
}

.white {
  background-color: #ebebeb;
  color: #21364a;
}
