html,
body {
  background-color: #111418;
  color: #ebebeb;
  font-family: "Poppins";
  margin: 0;
}

h1 {
  margin: 0 0;
  font-weight: 700;
  font-size: 69px;
  line-height: 1.3;
}

h2 {
  font-weight: 700;
  font-size: 55px;
}

h3 {
  margin: 0 0;
  font-weight: 600;
  font-size: 44;
}

h4 {
  margin: 0 0px;
  font-weight: 700;
  font-size: 35;
}

h5 {
  margin: 0;
  font-weight: 600;
  font-size: 28;
}

h6 {
  margin: 0 0 5 0;
  font-size: 23;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.font1 {
  font-size: 20;
}

.font2 {
  margin: 0 0;
  font-size: 18;
}

.font3 {
  font-size: 14;
}

.font4 {
  font-size: 12;
}

.font5 {
  font-size: 11;
}

.font-form {
  font-size: 35;
}

a {
  text-decoration: none !important;
  color: #ebebeb;
}

i {
  font-style: normal !important;
}

button {
  cursor: pointer;
}

#about-illustration {
  width: 55%;
}

.aboutp {
  font-size: 18px;
}

.align-center {
  text-align: center;
  margin-bottom: 50px;
}

.arrow {
  font-family: "Font Awesome 5 Free";
  font-style: normal !important;
  font-weight: 900;
  font-size: 19;
  padding: 0 16px;
}

.small-arrow {
  font-size: 16;
  padding: 0 8px;
}

.tiny-arrow {
  font-size: 12;
  padding: 0 4px;
}

.back-gradient {
  background: linear-gradient(
    160deg,
    rgba(21, 29, 37, 0.83) 0%,
    rgba(68, 84, 90, 0.88) 57%,
    rgba(68, 41, 41, 0.84) 100%
  );
  border: 3px solid rgba(58, 65, 70, 0.7);
}

.banner {
  display: block;
  margin-left: auto;
  position: absolute;
  top: 182px;
  right: 128px;
  z-index: 1;
}

.banner2 {
  display: block;
  margin-left: auto;
  position: absolute;
  top: 250px;
  right: 128px;
  z-index: 1;
}

.pattern {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: 750px;
}

.pattern2 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 750px;
  opacity: 0.5;
}

.pattern3 {
  position: absolute;
  top: 0px;
  left: 5%;
  z-index: 1;
  width: 740px;
  opacity: 0.5;
}

.black {
  background-color: #111418;
}

.blue1 {
  background-color: #192531;
}

.blue2 {
  background-color: #21364a;
}

.blue3 {
  background-color: #294762;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button1 {
  border-width: 0px;
  color: #ebebeb;
  background: #e65238;
  border-radius: 15px;
  border: 0;
  transition: all 0.4s ease-out;
}
.button1:hover {
  background: #a8dadc;
  color: #111418;
}

.b1 {
  opacity: 0;
  -webkit-animation: reveal 1s linear 2s forwards;
  animation: reveal 1s linear 2s forwards;
}

.button-scta {
  width: 180px;
  height: 46px;
  color: #ebebeb;
  background: #e65238;
  border-radius: 18px;
  font-size: 18px;
  font-weight: 700;
  border: 0;
  opacity: 0;
  transition: all 0.4s ease-out;
}
.button-scta:hover {
  background: #a8dadc;
  color: #111418;
}

.button-transition {
  opacity: 1;
}

.b1 {
  width: 46%;
  height: 64px;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  border-radius: 20px;
}

.catch1 {
  opacity: 0;
  font-size: 20px;
}
.catch2 {
  opacity: 0;
  margin-top: -20px;
}
.catch3 {
  opacity: 0;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  margin-bottom: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .catch-transition {
    -webkit-animation: slideInFromLeft 0.4s ease-in-out both;
    animation: slideInFromLeft 0.4s ease-in-out both;
  }
}

.catch-transition {
  opacity: 1;
}

.catch-phrase {
  position: relative;
  z-index: 2;
  width: 55%;
  margin-top: 70px;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.catch-phrase-1 {
  opacity: 0;
  -webkit-animation: slideInFromLeft 1s ease-in-out 0.4s forwards;
  animation: slideInFromLeft 1s ease-in-out 0.4s forwards;
}

.catch-phrase-2 {
  opacity: 0;
  -webkit-animation: slideInFromLeft 1s ease-in-out 0.7s forwards;
  animation: slideInFromLeft 1s ease-in-out 0.7s forwards;
}
.catch-phrase-3 {
  opacity: 0;
  -webkit-animation: slideInFromLeft 1s ease-in-out 1s forwards;
  animation: slideInFromLeft 1s ease-in-out 1s forwards;
}
.catch-phrase-4 {
  opacity: 0;
  -webkit-animation: slideInFromLeft 1s ease-in-out 1.3s forwards;
  animation: slideInFromLeft 1s ease-in-out 1.3s forwards;
}

#contact-illustration {
  width: 40%;
}

.dsgvo-section {
  padding: 20 0 80 0 !important;
}

.dsgvoh3 {
  margin: 50 0 10 0;
}
.dsgvoh5 {
  margin: 30 0 0 0;
}

.dot-container {
  display: none;
}

.dot-size {
  font-size: 22px;
}

.ellipse {
  height: 100px;
  width: 100%;
  border-radius: 75%;
  margin-bottom: -50px;
}

.ellipse-fix {
  padding-bottom: 50px;
  margin-bottom: -50px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.footer {
  width: 80%;
  margin: auto;
  padding: 3% 5%;
  margin-bottom: 60px;
}

.footer-column-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-col1 {
  width: 35%;
  min-width: 180px;
}

.footer-col2 {
  width: 5%;
  min-width: 160px;
}

.footer-col3 {
  width: 30%;
  min-width: 200px;
}

.footer-link {
  margin: 3px 0;
  transition: all 0.4s ease-out;
}
.footer-link:hover {
  color: #a8dadc;
}

.footer-mobile-shown {
  display: none;
}

.footer-copyright {
  color: grey;
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 0 30px;
}

.form-left {
  width: 45%;
  border-radius: 70px;
  height: 945px;
}

.form-right {
  width: 55%;
  border-radius: 70px;
}

.form-image {
  position: relative;
  left: 109px;
}

.form-text {
  font-size: 30px;
  position: relative;
  left: 50px;
  bottom: 200px;
  z-index: 1;
}

.full-height {
  width: 100%;
}

.hamburger {
  float: right;
  z-index: 10;
  position: relative;
  margin: 25px 15px 0 0;
  display: none;
}

@-webkit-keyframes slideTop {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .headline-transition {
    -webkit-animation: slideTop 0.4s ease-out both;
    animation: slideTop 0.4s ease-out both;
  }
}

.headercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-pattern {
  display: block;
}

#header-pattern-mobile {
  display: none;
}

.headline-transition {
  opacity: 1;
}

.headline {
  opacity: 0;
}

.input {
  width: 90%;
  padding: 15px;
  margin: 20px auto;
  color: #b9b7bd;
  border-width: 1px;
  border-color: #294762;
  border-style: solid;
  border-radius: 14px;
  font-family: "Poppins" !important;
  font-size: 18;
  resize: none;
}

.no-color {
  background: none !important;
  background-color: none !important;
  color: none !important;
}

.input-large {
  height: 418px;
}

.input-submit {
  background-color: #e65238;
  color: #ebebeb;
  border-radius: 20px;
  border-width: 0;
  width: 75%;
  height: 60px;
  font-weight: 700;
}

.gradient {
  background: linear-gradient(
    90deg,
    #ff965a -11.54%,
    #d36d6d 31.24%,
    #05d2ff 121.74%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.square-orange {
  border-style: hidden;
  border-radius: 8px;
  height: 22px;
  width: 22px;
  background-color: #e65238;
  justify-content: center;
  display: flex;
  align-items: center;
}

.square-orange2 {
  border-style: hidden;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  background-color: #e65238;
  justify-content: center;
  display: flex;
  align-items: center;
}

.kachel {
  width: 26%;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  opacity: 1;
  transition: transform 0.2s ease-out;
}
.project-kachel {
  width: 26%;
  height: 340px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  opacity: 1;
  transition: transform 0.2s ease-out;
}

.kachel:hover {
  transform: scale(1.025);
}

@media (prefers-reduced-motion: no-preference) {
  .kachel-transition {
    -webkit-animation: slideInFromRight 0.4s ease-out both;
    animation: slideInFromRight 0.4s ease-out both;
  }
}

.kachel-transition {
  opacity: 1;
  transform: none;
}

.kachel-button {
  width: 40%;
  height: 30px;
  color: #21364a;
  background: #a8dadc;
  border-radius: 10px;
  border: 0;
  margin-top: 4px;
  transition: all 0.4s ease-out;
}

.future-kachel-button {
  width: 50%;
  height: 30px;
  color: #a8dadc;
  background: none;
  border-radius: 10px;
  border: 2px solid #a8dadc;
  margin-top: 4px;
}

.kachel-button:hover {
  color: #111418;
  background: #ebebeb;
}

.kachel-col1 {
  width: 30%;
  margin-right: 3%;
  margin-left: 2%;
  z-index: 2;
}

.kachel-col2 {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
  height: 600px;
}
.kachel-col3 {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
  height: 750px;
}

.kachel-image1 {
  width: 150px;
  display: block;
  margin-bottom: -20px;
  margin-top: -20px;
  margin-left: auto;
}
.kachel-image2 {
  width: 280px;
  display: block;
  margin-bottom: -20px;
  margin-left: -20px;
}
.kachel-image3 {
  width: 200;
  display: block;
  margin: -20px 0 -20px auto;
}

.kachel-top-margin {
  margin-top: 120px;
}

.kachel-top-margin2 {
  margin-top: 60px;
}

.kachel-top-margin-benefit {
  margin-top: 50px;
}

.kachel-top-neg-margin {
  margin-top: -30px;
}

.kachel-group {
  height: 0;
  z-index: 1;
  margin: 0 70px;
}

.kachel-heading {
  margin-bottom: 8px;
}

.kachel-vert {
  width: 100%;
  border-style: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: #ebebeb;
  color: #294762;
  text-align: left;
  transition: transform 0.2s ease-out;
}

.kachel-group:hover .icon-top {
  transform: translate(-15%, -25%);
  color: #111418;
  z-index: 7;
}

.kachel-group:hover .why-icon,
.kachel-group:hover .why-icon2 {
  stroke: #111418;
}

.kachel-group:hover .kachel-vert {
  color: #111418;
  transform: translateY(-5%);
}

.kachel-vert-parent {
  margin: 0px 0px 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -80px;
}

.kind-icon {
  width: 18px;
  height: 18px;
}
.kind-icon2 {
  width: 28px;
  height: 28px;
  stroke-width: 2.5;
}

.desk-icon2 {
  width: 26px;
  height: 26px;
  stroke-width: 2.5;
}

.desk-icon {
  width: 16px;
  height: 16px;
}

.icon-light {
  width: 50px;
  height: 50px;
  background-color: #a8dadc;
  border-radius: 50%;
  position: relative;
  left: 15px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out both;
}

.icon-step {
  width: 35px;
  height: 35px;
  background-color: #a8dadc;
  border-radius: 50%;
  position: relative;
  color: #111418;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 18;
  font-weight: bold;
}

.icon-step-right {
  left: -60px;
  top: 39px;
}
.icon-step-left {
  left: 350px;
  top: 39px;
}

.icon-dark {
  width: 50px;
  height: 50px;
  background-color: #294762;
  border-radius: 50%;
  position: relative;
  left: 15px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-tabler-map-pin {
  margin-right: 15px;
}

.icon-brand {
  width: 36px;
}

.icon-brand-firebase {
  width: 24px;
}

.icon-brand-notion {
  width: 28px;
}
.icon-brand-github {
  width: 32px;
}
.icon-brand-html {
  width: 32px;
  margin-bottom: -2px;
}

.icon-top {
  transition: transform 0.2s ease-out;
  left: -15px;
  top: 40px;
  width: 56px;
  height: 56px;
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lessmargin {
  margin: 8 0 12 0;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.logo {
  display: flex;
  padding-left: 16px;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.end-logo {
  display: flex;
  margin-left: -8px;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
}

.logo-svg {
  width: 80;
}
.end-logo-svg {
  width: 130;
}

.logo-text {
  padding: 0 10px;
}
.end-logo-text {
  font-size: 50px;
  padding: 0 10px;
  font-weight: 700;
  margin: 0;
}

.marginh2 {
  margin-top: 0px;
}

@-webkit-keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.mobile-shown-flex {
  display: none !important;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: hsla(214, 17%, 8%, 0);
  top: 0;

  transition: top 0.3s ease-out 0.2s;
}

.nav-link {
  margin: 32px;
  transition: color 0.4s ease-out;
}
.nav-link:hover {
  color: #a8dadc;
}

.navbar-button {
  width: 180px;
  height: 46px;
  border: 0;
  color: #ebebeb;
  background: #e65238;
  margin: 0 25px;
}

.orange {
  color: #e65238;
}

#pattern1 {
  display: none;
}

#pattern1-extended {
  margin-top: 20;
  margin-bottom: auto;
  left: 0;
  position: absolute;
  width: 1400px;
}

.process {
  opacity: 1;
}

#process-illustration {
  position: absolute;
  left: 200;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 515px;
}

.process-image-collapsed {
  display: none;
  width: auto;
  margin: auto;
}

.process-step {
  padding: 40px 0;
}

.process-step-right {
  text-align: left;
  margin-left: 71%;
}

.process-step-left {
  text-align: right;
  width: 29%;
}

.project {
  border-radius: 40px;
  padding: 50px;
  margin: auto;
  margin: 64 0;
}

.projectheading {
  margin-top: 20px;
}

.prm {
  margin-top: 2px;
}

.project-button {
  height: 50px;
  width: 60%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.future-button {
  border-radius: 10px;
  border: 4px solid #294762;
  background: none;
  height: 50px;
  width: 60%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.future-button2 {
  border-radius: 10px;
  border: 4px solid #a8dadc;
  background: none;
  height: 50px;
  width: 60%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-illustration {
  width: 50%;
  top: 20;
  z-index: 2;
}
#project-illustration-mobile {
  display: none;
}
#about-illustration-mobile {
  display: none;
}
#contact-illustration-mobile {
  display: none;
}

.project-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-right {
  width: 40%;
  max-width: 350px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: -50px 0;
}

.project-img {
  margin: 0 0 0 60px;
  width: 400px;
  align-self: flex-end;
}
.project-img-tw {
  width: 600px;
  align-self: flex-end;
}
.project-img-ttt {
  margin: 0 0 0 160px;
  width: 300px;
  align-self: flex-end;
}

.subheading {
  margin-top: 32px;
  line-height: 40px;
  font-size: 21;
}

.benefit-heading {
  padding-left: 20px;
  padding-top: 15px;
}

.benefit-image {
  position: absolute;
  left: 0;
  opacity: 0.5;
}

.benefit-carousel-medium {
  display: none;
}

.benefit-carousel-normal {
  display: flex;
}

.benefit-text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.question {
  border-style: hidden;
  background-color: #111418;
  border-radius: 12px;
  padding: 20px 30px;
  margin-bottom: 25px;
  line-height: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .right-transition {
    -webkit-animation: slideInFromLeft 0.4s ease-out both;
    animation: slideInFromLeft 0.4s ease-out both;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .left-transition {
    -webkit-animation: slideInFromRight 0.4s ease-out both;
    animation: slideInFromRight 0.4s ease-out both;
  }
}

.section,
.headersection {
  max-width: 1130px;
  padding: 200px 0 100px 0;
  margin: auto;
}
.section-form {
  max-width: 1130px;
  padding: 50px 0 100px 0;
  margin: auto;
}

.section-project {
  padding: 0 !important;
}

.section2 {
  max-width: 1280px;
  padding: 200px 0 40px;
  margin: auto;
}

.section3 {
  max-width: 1130px;
  padding: 100px 0;
  margin: auto;
}
.section-why {
  padding: 70px 0 200px;
}

.section4 {
  max-width: 1280px;
  padding: 150px 0;
  margin: auto;
}

.section-flex {
  display: flex;
  flex-direction: row;
}

.secondary {
  color: #a8dadc;
}

.social-media {
  margin: 8px 0;
}

.social-media-icon {
  padding: 0 7px 0 0;
  transition: all 0.4s ease-out;
}
.social-media-icon:hover {
  stroke: #e65238;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  height: 300px;
  top: 120px;
}

.story-flex {
  display: flex;
  flex-direction: row;
}

.story-left {
  width: 40%;
  margin-right: 100px;
}

.story-right {
  width: 60%;
}

.success-image {
  margin-bottom: 30px;
  width: 100%;
  border-radius: 20px;
}

.team {
  width: 43%;
  margin: 0 0 50px 0;
  border-radius: 20px;
  padding: 25px;
}

.team-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-header {
  padding-left: 25px;
}

.team-img {
  width: 100;
  border-radius: 10px;
}

.team-name {
  margin: 10 0 0 0 !important;
}

.team-position {
  margin: 5 0 10 0;
}

.team-icon {
  width: 24px;
  height: 24px;
  stroke-width: 2.2;
}

.team-smicon {
  stroke: #a8dadc;
  stroke-width: 1.75px;
  margin: 0 6 0 -3px !important;
  padding: 0;
}

.team-description {
  margin: 5 5 0 5;
}

.white {
  background-color: #ebebeb;
  color: #21364a;
}

.why-image {
  position: absolute;
  left: calc(50% - 385px);
  opacity: 0.5;
}

.why-text {
  margin: 10px 100px 20px;
}

.why-icon {
  stroke: #294762;
  width: 36px;
  stroke-width: 2;
  margin-top: -2px;
  transition: transform 0.2s ease-out;
}
.why-icon2 {
  stroke: #294762;
  width: 28px;
  stroke-width: 2.75;
  margin-top: -2px;
  transition: transform 0.2s ease-out;
}

#header-pattern-extended {
  top: 0;
  position: absolute;
  right: 0;
  width: 120%;
}

#header-pattern {
  display: none;
}

@media only screen and (max-width: 1900px) {
  #header-pattern-extended {
    display: none;
  }
  #pattern1-extended {
    display: none;
  }
  #header-pattern {
    display: block;
  }
  #pattern1 {
    display: inline;
    margin-top: 20;
    margin-bottom: auto;
    left: 0;
    position: absolute;
    width: 1230px;
  }
}

@media only screen and (max-width: 1280px) {
  h5 {
    font-size: 23px;
  }

  .project-img {
    margin-left: 20px;
    width: 120%;
  }
  .project-img-tw {
    margin-left: -50px;
    width: 160%;
  }
  .project-img-ttt {
    margin-left: 40px;
    width: 100%;
  }

  h6 {
    font-size: 20px;
  }

  span {
    font-size: 18px;
  }

  .text-margin {
    margin: 10px;
  }

  .headersection {
    max-width: 780px;
  }

  .section {
    width: 80%;
  }

  .section-form {
    padding: 50 5% 100px 5%;
  }

  .section2 {
    max-width: 780px;
    padding: 100px 0 340px;
  }

  .section3 {
    max-width: 780px;
    padding: 50 0 50 0;
  }

  .section-why {
    padding: 50px 2.5% 250px;
  }
  .section4 {
    max-width: 780px;
    padding: 80 0 150px 0;
  }

  .b1 {
    width: 65%;
  }

  .benefit-image {
    width: 95%;
  }

  .benefit-carousel-medium {
    display: flex;
  }

  .benefit-carousel-normal {
    display: none;
  }

  .catch3 {
    font-size: 16px;
  }

  .end-logo-text {
    font-size: 32px;
  }

  #form-illustration {
    height: 945px;
  }

  .icon-step-left {
    left: 0;
    top: 0;
  }

  .icon-step-right {
    left: 0;
    top: 0;
  }

  .input-submit {
    font-size: 16px;
  }

  .kachel {
    width: 37%;
  }
  .project-kachel {
    width: 37%;
  }

  .kachel-vert-parent {
    margin-left: auto;
  }

  .kachel-col3 {
    height: 1100px;
  }

  .kachel-group {
    margin: 0 15px;
  }

  .kachel-top-margin {
    margin-top: 150px;
  }

  .kachel-top-margin2 {
    margin-top: -125px;
  }

  .kachel-top-margin-benefit {
    margin-top: -10px;
  }

  .kachel-top-neg-margin {
    margin-top: 30px;
  }

  .kachel-vert {
    width: auto;
  }

  .navbar-button {
    width: 140px;
  }

  .pattern {
    width: 550px;
  }

  #pattern1 {
    margin-top: 200;
    margin-bottom: auto;
    left: 0;
    position: absolute;
    width: 98%;
  }

  #process-illustration {
    display: none;
  }

  #process-beratung {
    width: 300px;
  }
  #process-design {
    width: 300px;
    margin-right: 145px;
  }
  #process-development {
    width: 300px;
  }
  #process-launch {
    width: 300px;
  }

  .process-image-collapsed {
    display: block;
  }

  .process-step {
    width: 50%;
    margin: -70px auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .process-step-last {
    margin: -90px auto 0;
  }

  .team {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }

  .aboutp {
    font-size: 16px;
  }

  .team-flex {
    flex-direction: column;
  }
}

@media only screen and (max-width: 780px) {
  @media (prefers-reduced-motion: no-preference) {
    .catch-transition {
      -webkit-animation: slideInFromLeftMobile 0.4s ease-in-out both;
      animation: slideInFromLeftMobile 0.4s ease-in-out both;
    }
  }

  @-webkit-keyframes slideInFromLeftMobile {
    0% {
      transform: translateX(5%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slideInFromLeftMobile {
    0% {
      transform: translateX(5%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .kachel-transition {
      -webkit-animation: none;
      animation: none;
    }
  }

  .headersection {
    margin-top: 80px;
  }

  .end-logo {
    margin: 0;
    margin-top: 12px;
  }

  .form {
    padding: 10px 20px 0 20px;
  }

  .lessmargin {
    margin: 0 0 8 0;
    font-size: 16px;
  }

  .input {
    padding: 12 15;
    font-size: 15px;
  }

  .input-submit {
    height: 50px;
  }

  .project-left {
    width: 100%;
  }

  .project-img {
    margin-left: 0px;
    width: 100%;
  }

  .project-img-tw {
    width: 100%;
  }
  .project-img-ttt {
    width: 100%;
  }

  #project-illustration {
    display: none;
  }

  #project-illustration-mobile {
    display: block;
    width: 90%;
    margin-bottom: 32px;
    z-index: 2;
  }
  #about-illustration {
    display: none;
  }

  .aboutp {
    font-size: 16px;
  }

  #about-illustration-mobile {
    display: block;
    width: 90%;
    margin-bottom: 32px;
    z-index: 2;
  }
  #contact-illustration {
    display: none;
  }

  #contact-illustration-mobile {
    display: block;
    width: 90%;
    margin-bottom: 32px;
    z-index: 2;
  }

  .dsgvoh1 {
    font-size: 36;
  }

  .dsgvoh3 {
    font-size: 32;
  }
  .dsgvoh5 {
    font-size: 21;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 23px;
  }

  h6 {
    font-size: 16px;
  }

  span {
    font-size: 14px;
  }

  .font2 {
    font-size: 14px;
  }

  .section,
  .headersection {
    max-width: 75%;
    padding: 50px 2.5% 100px;
  }

  .project-header-section {
    margin-top: 80px;
    padding: 50px 2.5% 50px;
  }

  .section-project {
    max-width: 90%;
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .section-form {
    padding: 0 0 100px 0;
  }

  .section2 {
    max-width: 90%;
    padding: 100px 2.5% 100px;
  }

  .section3 {
    max-width: 95%;
    padding: 50px 2.5% 100px;
  }

  .section-why {
    padding: 50px 2.5% 150px;
    max-width: 90%;
  }

  .section4 {
    max-width: 95%;
    padding: 60px 2.5% 100px;
  }

  .active {
    background-color: #ebebeb !important;
  }

  .tech-description {
    font-size: 16px;
    font-weight: 500;
    padding: 10 0;
  }

  .b1 {
    width: 250px;
    height: 50px;
    font-size: 16px;
  }

  .benefit-first-child {
    margin-left: calc(0.50901 * 100vw + 1448.68px);
  }

  .benefit-last-child {
    margin-right: calc(50vw - 105px);
  }

  .benefit-carousel-medium {
    display: none !important;
  }

  .benefit-carousel-normal {
    display: flex;
  }

  .button1 {
    transition: none;
  }

  .catch2 {
    font-size: 36px;
  }

  .catch3 {
    font-size: 16px;
  }

  .catch-phrase {
    width: auto;
    margin-top: 0;
  }

  .overflow {
    overflow: hidden;
  }

  .dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot-container {
    display: block;
    text-align: center;
    margin-top: -20px;
  }

  .dot-size {
    font-size: 18px;
  }

  .end-logo {
    justify-content: center;
  }

  .end-logo-text {
    display: none;
  }

  .footer {
    text-align: center;
    flex-direction: column;
  }

  .footer-column-container {
    flex-direction: column;
  }

  .footer-mobile-hidden {
    display: none;
  }

  .footer-mobile-shown {
    display: block;
  }

  .footer-button {
    margin: 10px auto;
  }

  .footer-col1,
  .footer-col2,
  .footer-col3 {
    width: 100%;
    margin: 10px 0;
  }

  .footer-button-text {
    font-size: 20px;
  }

  .footer-col2 > a {
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
  }

  .footer-col3 {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 16 0 24 0;
  }

  .footer-col3 > a {
    font-size: 14px;
  }

  .form-left {
    display: none;
  }

  .form-right {
    width: auto;
  }

  .form-mobile-bg {
    background-color: #192531;
  }

  .form-padding-mobile-fix {
    padding: 0px 2.5%;
  }

  .fpad {
    padding: 80px 0;
  }

  .hamburger {
    display: block;
    border: 0;
    background: transparent;
    transform: scale(0.6);
  }
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translate(-25px, -16px);
  }
  .menu-btn__burger::after {
    transform: translate(-25px, 16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-75px);
    background: transparent;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .mobile-shown-flex {
    display: flex !important;
  }

  #header-pattern {
    display: none;
  }
  #header-pattern-mobile {
    display: block;
  }

  .kachel {
    margin-top: 5px;
    width: 250px;
  }
  .project-kachel {
    margin-top: 5px;
    width: 250px;
  }

  .kachel-col1 {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    height: auto;
  }

  .kachel-col2 {
    min-width: 265px;
    display: flex;
    margin: 25px auto;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    justify-content: center;
    float: right;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    flex-wrap: nowrap;
    scrollbar-width: none;
    height: auto;
    -ms-overflow-style: none;
  }
  .kachel-col3 {
    height: auto;
    min-width: 265px;
    display: flex;
    margin: 25px auto;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    justify-content: center;
    float: right;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    flex-wrap: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .kachel-col2::-webkit-scrollbar {
    display: none;
  }

  .kachel-col3::-webkit-scrollbar {
    display: none;
  }

  .kachel-group {
    width: 50%;
    min-width: 250px;
  }

  .kachel-top-margin {
    margin-top: 0;
  }

  .kachel-top-margin2 {
    margin-top: 0;
  }

  .kachel-image {
    width: 70%;
    height: auto;
  }

  .kachel-vert-parent {
    flex-direction: column;
    align-items: center;
    height: 500px;
  }

  .logo {
    height: 100px;
  }

  .navbar {
    z-index: 4;
    display: block;
    margin: 0;
    height: auto;
  }

  .nav-link {
    font-size: 22;
    margin: 50px;
  }

  .navbar-button {
    font-size: 22;
    margin: 25;
    width: 240px;
    height: 60px;
    border-radius: 20px !important;
  }

  .navbar-toggle {
    background-color: #111418;
  }

  #process-design {
    margin-right: auto;
  }

  .navigation {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    text-align: center;
    position: absolute;
    background-color: #111418;
    z-index: 2;
    width: 100%;
    transform: translateY(calc(-100vh - 90px));
  }

  @-webkit-keyframes navanimation {
    0% {
      transform: translateY(calc(-20vh - 90px));
      opacity: 0;
      height: 0;
    }
    25% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      height: calc(100vh - 90px);
    }
  }

  @keyframes navanimation {
    0% {
      transform: translateY(calc(-20vh - 90px));
      opacity: 0;
      height: 0;
    }
    25% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      height: calc(100vh - 90px);
    }
  }

  @-webkit-keyframes backanimation {
    0% {
      transform: translateY(0);
      opacity: 1;
      height: calc(100vh - 90px);
    }
    25% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      height: 0;
      transform: translateY(calc(-20vh - 90px));
    }
  }

  @keyframes backanimation {
    0% {
      transform: translateY(0);
      opacity: 1;
      height: calc(100vh - 90px);
    }
    25% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      height: 0;
      transform: translateY(calc(-20vh - 90px));
    }
  }

  .pattern {
    width: 70%;
    top: calc(-0.98039215686275 * 100vw + 700px);
  }

  #pattern1 {
    margin-top: calc(-0.58139534883721 * 100vw + 453.48837209302px);
    margin-bottom: auto;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .pattern2,
  .pattern3 {
    width: 70%;
  }

  .pattern svg {
    width: 100%;
  }

  #process-illustration {
    width: 70%;
  }

  .process-step {
    width: 250px;
  }

  .project {
    width: 80%;
    padding: 25px;
    margin: 24 0;
  }

  .project-first-child {
    margin-left: calc(0.50424 * 100vw + 503.225px);
  }

  .project-last-child {
    margin-right: calc(50vw - 115px);
  }

  .project-image {
    height: 500px;
  }

  .project-img-tw {
    width: 140%;
  }
  .project-img-ttt {
    margin: 0 0 0 -40px;
    width: 180px;
  }

  .prm {
    font-size: 16px;
    margin-left: 16px;
    margin-top: -1.5px;
  }

  .kind-icon2 {
    width: 22px;
    height: 22px;
  }
  .desk-icon2 {
    width: 20px;
    height: 20px;
  }

  .project-right {
    width: 100%;
    height: 250px;
    max-width: 250px;
    margin: -25px 0 -25px auto;
  }

  .slide {
    /* display: none; */
    flex-shrink: 0;
    scroll-snap-align: center;
  }

  .section-flex {
    display: flex;
    flex-direction: column;
  }

  .sticky {
    height: auto;
    position: relative;
    top: 0;
    margin-bottom: 16px;
  }

  .story-flex {
    flex-direction: column-reverse;
  }

  .story-left {
    width: auto;
    margin: 0;
  }

  .story-right {
    width: auto;
  }

  .subheading {
    font-size: 16px;
    margin-top: 22px;
    line-height: 30px;
  }

  .success-image {
    width: 100%;
    border-radius: 20px;
  }

  .visibility {
    display: flex !important;
  }

  .why-image {
    width: 95%;
  }

  .techhead {
    font-size: 36;
  }

  .why-text {
    margin: 5 0 15 0;
  }
}

@media only screen and (max-width: 540px) {
  .logo-text {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
  }

  .dsgvoh1 {
    font-size: calc(100vw * 0.065);
  }
  .dsgvop {
    font-size: 14;
  }

  .mini {
    font-size: 12;
  }

  .dsgvoh3 {
    font-size: 24;
  }
  .dsgvoh5 {
    font-size: 20;
  }

  .aboutp {
    font-size: 14px;
  }

  .kachel-vert-parent {
    height: 580px;
  }

  .pattern {
    width: 90%;
    top: calc(-1.0769230769231 * 100vw + 603.84615384615px);
  }

  .pattern2,
  .pattern3 {
    width: 90%;
  }

  .project {
    padding: 25px;
    border-radius: 25px;
  }

  .section-about {
    width: 90%;
    max-width: 90%;
  }
  .team-position {
    font-size: 12px;
    margin: 12 0 12 0;
  }

  .social-media-icon {
    padding: 0 4;
    width: 32px;
    height: 32px;
  }

  .team-icon {
    width: 18px;
    height: 18px;
  }

  .team-smicon {
    padding: 0;
    width: 24px;
    height: 24px;
  }
  .team-img {
    width: 88px;
    border-radius: 10px;
  }

  .square-orange2 {
    width: 24px;
    height: 24px;
  }

  .team-header {
    line-height: 1;
    padding-left: 14px;
  }

  .team-header > .font1 {
    margin: 15px 0;
  }
}

@media only screen and (max-width: 350px) {
  .team-name {
    font-size: 18px;
  }

  .team-position {
    font-size: 10px;
    margin: -5 0 10 0;
  }
}
@media only screen and (max-width: 300px) {
  h1 {
    font-size: 60px;
  }

  .hamburger {
    margin: 25px 20px 0 0;
  }

  .icon-tabler-menu-2 {
    width: 30px;
    height: 30px;
  }
}

#preloader {
  background: #192531;
  background-size: 5%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}
#preloadergif {
  background: url(assets/Double\ Ring-2.9s-331px.gif) no-repeat center center;
  background-size: 5%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 101;
}

.loaded {
  transform: translateY(-100%);
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.5, 1, 0.5, 1) 0.6s;
  height: 0%;
}
.gifloaded {
  transform: translateY(-100%);
  visibility: hidden;
  transition: all 0.8s ease-out 0.7s;
  height: 0%;
}
